nav > ul {
  display: flex;
  justify-content: center;
}
nav > ul > li {
  list-style: none;
  padding: 20px;
  font-weight: 600;
}
nav > ul > li:hover {
  background-color: rgb(204, 204, 204);
  cursor: pointer;
  border-radius: 3px;
}
nav > ul > li > a {
  text-decoration: none;
}
nav > ul > li:hover a {
  font-weight: 200;
  text-decoration: line-through;
}
