nav > ul {
  display: flex;
  justify-content: center;
}
nav ul li {
  list-style: none;
  padding: 20px;
  font-weight: 600;
}
nav ul li:hover {
  background-color: rgb(204, 204, 204);
  cursor: pointer;
}
nav ul li a {
  text-decoration: none;
}
nav > ul > li:hover a {
  font-weight: 200;
  text-decoration: underline;
}
.hover {
  display: none;
  position: absolute;
  background-color: rgb(255, 255, 255);
  padding: 0;
}
nav li:hover > .hover {
  display: block;
}
